@import url("root.css");

body {
  margin: 0;
  padding: 0;
  font-family: var(--text);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.8;
  min-height: 100vh;
}

.admin-container {
  max-width: 900px;
  margin: auto;
  margin-top: 10vh;
  background: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

h1 {
  font-family: var(--title);
  font-size: 30px;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px auto 40px auto;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: var(--title-color);
  color: white;
  text-transform: uppercase;
}

.vip {
  background-color: #c9a227;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  transition: background 0.3s ease-in-out;
}

.vip:hover {
  background-color: #a6881c;
}

.bannir {
  background-color: #7a1414;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  transition: background 0.3s ease-in-out;
}

.bannir:hover {
  background-color: #5e1010;
}

.normal {
  background-color: #444444;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  transition: background 0.3s ease-in-out;
}

.normal:hover {
  background-color: #333333;
}

.admin {
  background-color: #169a3e;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
}

.gray {
  filter: grayscale(50%);
}

.pagination {
  text-align: center;
}

.pagination a {
  background: var(--title-color);
  color: white;
  padding: 3px 8px;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  margin: 3px;
}

.pagination a.active {
  background-color: #333;
  color: white;
}

@media (max-width: 1024px) {
  nav {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  nav h1 {
    font-size: 28px;
  }

  nav img {
    width: 150px;
  }

  nav .btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .admin-container {
    width: 80%;
    padding: 18px;
  }

  h1 {
    font-size: 28px;
  }

  table {
    font-size: 16px;
  }

  th,
  td {
    padding: 10px;
  }

  .vip,
  .bannir,
  .normal {
    padding: 5px 12px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 15px;
  }

  nav h1 {
    font-size: 24px;
  }

  nav img {
    width: 120px;
  }

  nav .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav .btn a {
    display: block;
    margin-bottom: 8px;
  }

  .admin-container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
  }

  .vip,
  .bannir,
  .normal {
    padding: 5px 10px;
    font-size: 14px;
  }
}
