@import url("root.css");

body {
  /* margin: 0; */
  padding: 0;
  font-family: var(--text);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.8;
  min-height: 100vh;
}

.connexion {
  background: var(--banner-color);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  width: 40%;
  max-width: 560px;
  min-width: 280px;
  text-align: center;
  border: 2px solid var(--title-color);
  margin: auto;
  margin-top: 10vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
h3 {
  color: var(--title-color);
  font-size: 26px;
  font-weight: 600;
}

section p {
  color: #ddd;
  font-size: 16px;
}

form {
  gap: 15px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 12px;
  color: var(--title-color);
}

input {
  width: calc(100% - 26px);
  margin: 12px 0;
  padding: 12px;
  border: 1px solid var(--title-color);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus {
  border-color: #af8a61;
  box-shadow: 0px 0px 8px rgba(139, 111, 71, 0.7);
}

button {
  background: var(--title-color);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #c5ab80;
}

footer p {
  color: var(--title-color);
  text-align: center;
  bottom: 10px;
  width: 100%;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .connexion {
    width: 60%;
  }

  section h2,
  section h3 {
    font-size: 22px;
  }

  form {
    gap: 12px;
  }

  label {
    font-size: 15px;
  }

  input {
    padding: 11px;
    font-size: 15px;
  }

  button {
    font-size: 17px;
    padding: 11px;
  }

  footer p {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .connexion {
    width: 80%;
    padding: 20px;
    margin-top: 15vh;
  }

  section h2,
  section h3 {
    font-size: 20px;
  }

  form {
    gap: 10px;
  }

  label {
    font-size: 14px;
  }

  input {
    padding: 10px;
    font-size: 14px;
  }

  button {
    font-size: 16px;
    padding: 10px;
  }

  footer p {
    font-size: 12px;
  }
}