body {
    background-color: var(--background-color);
    font-family: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .error-box {
    background-color: var(--card-voyage);
    border: 2px solid var(--text-color);
    border-radius: 12px;
    padding: 50px;
    max-width: 900px;
    text-align: center;
  }
  
  .error-box h2 {
    font-family: var(--title);
    font-size: 32px;
    font-weight: bold;
    color: var(--title-color);
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .error-box ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
  }
  
  .error-box li {
    font-size: 22px;
    color: var(--text-color);
    margin-bottom: 18px;
    text-align: center;
    line-height: 1.6;
  }
  
  .error-box a {
    font-family: var(--title);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: var(--title-color);
  }
  
  .error-box a:hover {
    text-decoration: underline;
  }
  