@import url("root.css");

body {
    background-color: var(--background-color);
    font-family: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .error-box {
    background-color: var(--card-voyage);
    border: 2px solid var(--text-color);
    border-radius: 12px;
    padding: 50px;
    max-width: 900px;
    text-align: center;
  }
  
  .error-box h2 {
    font-family: var(--title);
    font-size: 32px;
    font-weight: bold;
    color: var(--title-color);
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .error-box ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
  }
  
  .error-box li {
    font-size: 22px;
    color: var(--text-color);
    margin-bottom: 18px;
    text-align: center;
    line-height: 1.6;
  }
  
  a.continuer-recherches {
    display: inline-block;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: var(--title-color);
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  a.continuer-recherches:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  @media screen and (max-width: 1024px) {
    .error-box {
      padding: 40px;
      max-width: 80%;
    }
  
    .error-box h2 {
      font-size: 28px;
    }
  
    .error-box li {
      font-size: 20px;
    }
  
    a.continuer-recherches {
      font-size: 18px;
      padding: 10px 22px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .error-box {
      padding: 30px;
      max-width: 90%;
    }
  
    .error-box h2 {
      font-size: 24px;
    }
  
    .error-box li {
      font-size: 18px;
    }
  
    a.continuer-recherches {
      font-size: 17px;
      padding: 10px 20px;
    }
  }