@import url("root.css");

body {
  margin: 0;
  padding: 0;
  font-family: var(--text);
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: var(--title);
  font-size: 36px;
  font-weight: bold;
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
}

h3 {
  text-align: center;
  font-size: 24px;
  color: var(--title-color);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0 auto;
  max-width: 700px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

ul li {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.container {
  text-align: left;
  color: var(--text-color);
  padding: 20px;
  background-color: var(--card-voyage);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
}

input[type="submit"]{
  padding: 12px 25px;
  font-size: 20px;
  font-family: var(--title);
  border: none;
  background-color: var(--title-color);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

input[type="submit"]:hover{
  background-color: rgba(0, 0, 0, 0.7);
}

button[type="submit"]{
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: var(--title-color);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
}

button[type="submit"]:hover{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

a.continuer-recherches {
  display: inline-block;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: var(--title-color);
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 5px;
  margin-top: 20px;
}

a.continuer-recherches:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--background-color);
  width: 50%;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  ul li {
    font-size: 16px;
  }

  button[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  ul li {
    font-size: 14px;
  }

  input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
  }
}
