@import url("root.css");

body {
  margin: 0;
  padding: 0;
  font-family: var(--text);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.8;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  background: var(--background-color);
}

nav h1 {
  font-family: var(--title);
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color);
  letter-spacing: 2px;
}

nav img {
  width: 200px;
}

nav .btn {
  margin-top: 3px;
  margin-left: 200px;
}

nav .btn a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 3px;
}

nav .btn a:hover {
  border-bottom: 2px solid var(--title-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
  color: white;
  background: var(--banner-color);
}

header h1 {
  font-family: var(--title);
  font-size: 50px;
  text-transform: uppercase;
  color: var(--title-color);
  letter-spacing: 4px;
}

main a {
  padding: 10px 20px;
  background-color: white;
  color: rgba(0, 0, 0, 0.36);
  font-size: 20px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--title-color);
}

/* Barre de recherche */

.search {
  width: 300%;
  max-width: 700px;
  padding: 12px;
  font-size: 18px;
  border: 2px solid var(--banner-color);
  border-radius: 25px;
  outline: none;
  transition: 0.3s;
}

.search:focus {
  border-color: var(--title-color);
}

.search::placeholder {
  color: #999;
}

/* CONTAINER POUR ALIGNER LES CARTES */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* IMAGE EN HAUT DE LA CARTE */
.card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.3);
}

/* CONTENU SOUS L'IMAGE */
.card-content {
  padding: 15px;
  text-align: center;
}

.category {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
}

/*bouton de base */
.cta {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  padding-bottom: 7px;
  transition: all 0.3s ease;
}

.cta svg {
  margin-left: 10px;
  transform: translateX(-8px);
  transition: transform 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

/* Animation du soulignement */
.cta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.cta:hover::after {
  transform: scaleX(1);
}
