@import url("root.css");

body {
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--text);
    background-color: var(--background-color);
    line-height: 1.8;
    text-align: center;
  }
  
  .container {
    text-align: center;
    color: var(--text-color);
    padding: 20px;
    background-color: var(--card-voyage);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
  }

a {
    text-decoration: none;
    color: var(--btn-color);
    margin-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 3px;
    cursor: pointer;
}
  
a:hover {
  border-bottom: 2px solid var(--title-color);
}
  
@media screen and (max-width: 1024px) {
  .container {
    padding: 16px;
    max-width: 80%;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 14px;
    max-width: 90%;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }
}