@import url("root.css");

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--text);
    background-color: var(--background-color);
    line-height: 1.8;
  }
  
  .container {
    text-align: center;
    color: var(--text-color);
    padding: 20px;
    background-color: var(--card-voyage);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
  }
  