@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --background-color: #f4f1ea;
    --banner-color: #2c3e50;
    --title-color: #a58a60;
    --text-color: black;
    --btn-color: rgba(0, 0, 0, 0.5);
    --title: "Bodoni Moda", serif;
    --text: "Playfair Display", serif;
    --card-voyage: white;
}