@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --background-color: #f4f1ea;
    --banner-color: #2c3e50;
    --title-color: #a58a60;
    --text-color: black;
    --btn-color: rgba(0, 0, 0, 0.5);
    --title: "Bodoni Moda", serif;
    --text: "Playfair Display", serif;
    --card-voyage: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  background: var(--background-color);
}

nav h1 {
  font-family: var(--title);
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color);
  letter-spacing: 2px;
}

nav img {
  width: 200px;
}

nav .btn {
  margin-top: 3px;
  margin-left: 200px;
}

nav .btn a {
  text-decoration: none;
  color: var(--btn-color);
  margin-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 3px;
}

nav .btn a:hover {
  border-bottom: 2px solid var(--title-color);
}

nav .btn a, #change-theme {
  text-decoration: none;
  color: var(--btn-color);
  margin-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 3px;
  cursor: pointer;
}

nav .btn a:hover, #change-theme:hover {
  border-bottom: 2px solid var(--title-color);
}

footer p {
  color: var(--title-color);
  text-align: center;
  bottom: 10px;
  width: 100%;
  font-size: 14px;
}

.notif {
  position: fixed; /*Don't move when scrolling*/
  top: 15px; 
  font-size: 18px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  left: 50%;
  transform: translateX(-50%); /* put in to the left depending on in size */
  background-color: rgba(212, 212, 212, 0.829);
  color: black;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 9999; /* Above other elements */
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease; /* Smooth fade-in/out */
}

.notif.show {
  opacity: 1; /* Show when active */
}

.hidden {
  display: none; /* Completely remove from layout */
}

.good{
  background-color: rgba(156, 230, 137, 0.829);
}

.bad{
  background-color: rgba(230, 15, 15, 0.815);
}