:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --btn-color: #000000;
    --title-color: #ff0000; /* rouge vif pour titres */
    --banner-color: #ffff00; /* jaune vif */
  }
  